$secondary-color: #f2f4fc;
$link-color: #797a7c;
$error-color: #f44336;
$accent-color: #562563;
$primary-text-color: #202224;
$light-primary-text-color: #49454f;
$secondary-text-color: #a6a6a6;
$bright-text-color: #eef2ff;
$text-color-inverse: #ffffff;

$status-in-sync: #6ab252;
$status-error: #b92626;
$status-pending: #dfb322;
$status-registered: #2635b9;
$status-unknown: #b2b4b4;
$background-disabled-color: #F5F6FA;
$text-disabled-color: #707070;
$border-disabled-color: #E4E7F2;
$border-primary-color: #707070;
$error-dark-color: #B92626;
