@use 'src/app/styles/variables' as *;

.iconButton {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 24px;
    width: 24px;
    color: $icon-primary-color;
    cursor: pointer;

    &:hover {
        background: $secondary-color;
    }

    &.disabled {
        cursor: default;
        color: $icon-disabled-color;

        &:hover {
            background: transparent;
        }
    }
}
