@use 'src/app/styles/variables' as *;

.radioContainer {
  display: inline-flex;
  border-radius: 8px;
  transition: all 0.2s;
  font-size: 14px;
  background-color: $background-disabled-color;
  
  .radioLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: $text-disabled-color;
    margin: 0px;
    padding: 8px 16px;
    cursor: pointer;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  
  &:hover {
    background-color: #f5f5f5;
  }

  &.checked {
    background-color: $accent-color;

    .radioLabel {
      color: $secondary-color;
    }
  }
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} 