# Ignore node_modules and build outputs
node_modules
.next
out
dist

# Ignore dependency lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb

# Ignore environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# Ignore TypeScript build files
*.d.ts

# Ignore coverage reports
coverage

public/

# Ignore miscellaneous files
.DS_Store
Thumbs.db
