@use 'src/app/styles/variables' as *;

.text {
  margin: 0;
}

.heading-1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: $accent-color;
}

.heading-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $accent-color;
}

.heading-3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $accent-color;
}

.heading-4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: $accent-color;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $primary-text-color;
}

.paragraph-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: $primary-text-color;
}

.paragraph-sm {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $primary-text-color;
}

.btn-text-lg {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn-text-sm {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $primary-text-color;
}

.text-primary {
  color: $primary-text-color;
}

.text-secondary {
  color: $light-primary-text-color;
}

.text-disabled {
  color: $secondary-text-color;
}

.text-inverse {
  color: $text-color-inverse;
}

.text-accent {
  color: $accent-color;
}

.text-muted {
  color: $secondary-text-color;
}
