@use 'src/app/styles/variables' as *;

.fileUploader {
  width: 100%;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  
  &.dragging {
    background-color: rgba(0, 0, 0, 0.02);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.text {
  margin: 0 0 12px 0;
  font-size: 16px;
  color: $light-primary-text-color;
}

.fileInput {
  display: none;
}
