@use 'src/app/styles/variables' as *;

.modalOverlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modalContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 16px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

        .quitButton {
            position: absolute;
            right: 15px;
            top: 15px;
        }

        .modalHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-size: 24px;
                font-weight: 600;
                color: $accent-color;
                margin: 0;
            }
        }

        .modalContent {
            padding: 28px 0px;
        }
    }

    .default {
        padding: 32px;
        max-width: 100%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .fitContent {
        width: fit-content;
    }

    .sm {
        width: 370px;
    }

    .md {
        width: 518px;
    }

    .lg {
        width: 820px;
    }

    .xl {
        width: 1028px;
    }

    .unstyled {
        padding: 0;
    }
}
