@use 'src/app/styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
    font-weight: 400;
    color: $light-primary-text-color;

    .textArea {
        font-family: 'Nunito Sans', sans-serif;
        color: $light-primary-text-color;
        font-weight: 400;
        font-size: 16px;
        border-radius: 8px;
        padding: 16px;
        background-color: $secondary-color;
        border: 1px solid #e4e7f2;
    }

    .error {
        color: $error-color;
        font-size: 12px;
        margin: 0;
    }
}
