@use 'src/app/styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 20px;
}

.card {
    text-align: center;
}

.title {
    color: $primary-text-color;
    font-size: 32px;
    font-weight: 700;
}

.subtitle {
    color: $primary-text-color;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    text-align: left;

    label {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: $primary-text-color;
        margin-bottom: 14px;
    }

    input {
        width: 100%;
        padding: 14px 16px;
        border: 1px solid #ddd;
        border-radius: 16px;
        box-sizing: border-box;
        background-color: $secondary-color;
        color: $secondary-text-color;
        font-size: 16px;
        transition: border 0.2s;

        &:focus {
            border-color: #6d28d9;
            outline: none;
        }
    }

    .error {
        color: #dc2626;
        font-size: 0.8rem;
        margin-top: 0.3rem;
    }
}

.button {
    width: 100%;
    background-color: #581c87;
    color: white;
    font-size: 16px;
    padding: 14px 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background-color: #4c1d95;
    }
}
