@use 'src/app/styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 20px;
}

.title {
    color: $primary-text-color;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    color: $primary-text-color;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
}
