@use 'src/app/styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .addButton {
        display: flex;
        align-self: end;
        margin-top: 24px;
        margin-bottom: 18px;
        font-size: 18px;
        justify-content: center;
    }
}