@use 'src/app/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .filter {
      all: unset;
      border-radius: 16px;
      padding: 8px 24px;
      color: $primary-text-color;
      cursor: pointer;

      &:hover,
      &.active {
        color: white;
        background-color: $accent-color;
      }
    }

    .divider {
      width: 2px;
      height: 13px;
      background-color: $primary-text-color;
      opacity: 0.2;
    }
  }
}

.content {
}
