@use 'src/app/styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
    font-weight: 400;
    color: $light-primary-text-color;

    .select {
        border-radius: 8px;
        padding: 16px;
        background-color: $background-disabled-color;
        color: $light-primary-text-color;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid $border-disabled-color;

        option {
            color: $light-primary-text-color;
        }

        &::placeholder {
            color: $secondary-text-color;
        }

        &:focus {
            outline: $primary-text-color;
            border-color: $primary-text-color;
        }
    }

    .error {
        color: $error-color;
        font-size: 12px;
        margin: 0;
    }
}
