@use 'src/app/styles/variables' as *;

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/nunito-sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/nunito-sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    overflow: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: $accent-color;
}

.in_sync {
    background-color: $status-in-sync;
}

.error {
    background-color: $status-error;
}

.pending {
    background-color: $status-pending;
}

.registered {
    background-color: $status-registered;
}

.unknown {
    background-color: $status-unknown;
}

input {
    border: 1px solid $border-disabled-color;
    transition: border-color 0.2s ease;

    &::placeholder {
        color: $secondary-text-color;
    }

    &:focus {
        outline: $primary-text-color;
        border: 1px solid $primary-text-color;
    }
}