@use 'src/app/styles/variables' as *;

.button {
    all: unset;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;

    &.default {
        background: $accent-color;
        color: $bright-text-color;
        &:hover,
        &:active,
        &:focus {
            background: rgba($accent-color, 0.8);
        }
    }

    &.outline {
        background: transparent;
        color: $accent-color;
        border: 2px solid $accent-color;
        &:hover,
        &:active,
        &:focus {
            background: rgba($accent-color, 0.1);
        }
    }
}
