@use 'src/app/styles/variables' as *;

.filterButton {
    margin-left: auto;
}

.bulkUploadButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
