@use 'src/app/styles/variables' as *;

.cardBody {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-weight: 700;
            font-size: 24px;
            margin: 0;
            color: $primary-text-color;
        }
    }

    .actionButtons {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}
