@use 'src/app/styles/variables' as *;

.statusCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: $secondary-color;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
  }
}

.statusIndicator {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}