@use 'src/app/styles/variables' as *;

.tableContainer {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
}

.thead,
.tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tr {
  display: flex;
  align-items: center;
  width: 100%;
}

.th,
.td {
  padding: 8px;
  flex-shrink: 0;
  text-align: left;
}

.defaultTable {
  .thead {
    background-color: $secondary-color;
    border-radius: 8px;

    .th {
      color: $light-primary-text-color;
      font-weight: 700;

      &:not(:last-child) {
        border-right: 2px solid #e6eafb;
      }
    }
  }

  .tbody {
    .tr {
      border-bottom: 2px solid #e6eafb;
      &:hover {
        background-color: #fafafa;
      }
    }

    .td {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.unstyledTable {
  .th {
    font-size: 14px;
    font-weight: 700;
    color: $primary-text-color;
  }

  .td {
    padding: 4px;
  }
}
