@use 'src/app/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tableContainer {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.thead,
.tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: fit-content;
}

.tr {
  display: flex;
  align-items: center;
  width: 100%;
}

.th,
.td {
  position: relative;
  padding: 8px 12px;
  flex: 0 0 auto;
  text-align: left;
  color: $text-disabled-color;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  z-index: 10;
  touch-action: none;
  background-color: transparent;
  user-select: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.selectedRow {
  background-color: $accent-color !important;
  color: $secondary-color !important;
  * {
    color: inherit !important;
  }
}

.defaultTable {
  .thead {
    background-color: $secondary-color;
    border-radius: 8px;

    .th {
      color: $light-primary-text-color;
      font-weight: 700;

      &:not(:last-child) {
        border-right: 2px solid #e6eafb;
      }
    }
  }

  .tbody {
    .tr {
      border-bottom: 2px solid #e6eafb;

      &:hover {
        background-color: #fafafa;
      }
    }

    .td {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.unstyledTable {
  .th {
    font-size: 14px;
    font-weight: 700;
    color: $primary-text-color;
  }

  .td {
    padding: 4px;
  }
}
